<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Esplin\Test\Api\Data\TestInterface"
	            type="Esplin\Test\Model\Test" />

	<!-- Custom Logger -->
	<type name="Esplin\Test\Logger\Logger">
		<arguments>
			<argument name="name" xsi:type="string">Test</argument>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">Esplin\Test\Logger\Handler</item>
			</argument>
		</arguments>
	</type>

	<!-- Add data sources to DataProvider collection -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="test_listing_data_source" xsi:type="string">TestCollection</item>
			</argument>
		</arguments>
	</type>

	<!-- PurchaseOrder AuditLog grid collection -->
	<virtualType name="TestCollection"
	             type="Esplin\Test\Ui\DataProvider\Test\Listing\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">esplin_test</argument>
			<argument name="resourceModel" xsi:type="string">Esplin\Test\Model\ResourceModel\Test</argument>
		</arguments>
	</virtualType>
</config>
